.body__specif{
    position: sticky;
    background-image: url('http://images6.fanpop.com/image/photos/35200000/Shingeki-no-Kyojin-FTW-shingeki-no-kyojin-attack-on-titan-35201366-2952-2031.jpg');
    background-size: cover;
    background-position: center top;
    background-color: #000;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.header__specif{
    font-family: 'Rock Salt', cursive;
    background-color: white;
    color: black;
    font-size: 20px;
    opacity: 70%;
}
.header--specif--posit{
    text-align: center;
    border-top: 0;
    margin-bottom: 20px;
}

body>a{
    border: 0;
    padding-right: 0;
    border-right: 0;
    margin: 0 0 50px 50px;
}
